
    <td class="item-quantity" data-contentid="<%=row.contentId%>" data-qty="<%=row.quantity%>" data-donatedat="<%=row.donatedAt%>"><%=row.quantity%></td>
    <td class="item-name"><%=row.itemName%></td>
    <td><%=row.bbd%></td>
